<a href="https://colab.research.google.com/github/makhmudovamunira/DataScience_Mohirdev/blob/main/_map()_replace()_rename()_duplicated().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv')
df.head()

In [ ]:
df.duplicated()

In [ ]:
sum(df.duplicated())

In [ ]:
df.shape

In [ ]:
df.drop_duplicates()

In [ ]:
df

In [ ]:
df.drop_duplicates(['country']) #bunda faqat bir xil davlatlarni o'chirib tashlaydi

In [ ]:
df.drop_duplicates(['country','rank']) # bunda country va rank bir xil bo'lgan davlalarni o'chirib tashlaydi

### `.map()` metodi yordamida qiymatlarni almashtirish
Ushbu metod yordamida biz qatorlardagi qiymatlarni ma'lumo qoida bo'yicha o'zgartirishimiz mumkin.

Quyidagi jadvalni olaylik:

In [ ]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data_nan.csv", index_col=0)
df.head()

`num-of-cylinders` ustunida qiymatlar son emas harf bilan yozilga. Keling shu qiymatlarni songa o'zgartiramiz.

Avvalo bu ustundagi barcha mavjud qiymatlarni ko'raylik:

In [ ]:
df['num-of-cylinders'].unique()

In [ ]:
dict={'four':4, 'six':6, 'five':5,'three':3,'twelve':12,'two':2,'eight':8}

In [ ]:
df['cylinders']=df['num-of-cylinders'].map(dict)

In [ ]:
df.head()

In [ ]:
df[['num-of-cylinders','cylinders']]

`.map()` yordamida ustun qiymatlariga boshqa funksiyalarni ham qo'llash mumkin. Misol uchun, keling mashina narxlarini so'mdagi qiymatini topamiz:

In [ ]:
kurs=12900 # 1$=12900so'm
df['price'].map(lambda x: x*kurs)

In [ ]:
df['price_uzs']=df['price'].map(lambda x: x*kurs)
df.head()

In [ ]:
df.replace('four', 4)

In [ ]:
df.replace(['four', 'six'], [4,6])

In [ ]:
df.replace({'four':4,'six':6})

df2 = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv', index_col='country')

In [ ]:
df2 = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv', index_col='country')

In [ ]:
df2.head()

`.rename()` metodi yordamida indeks yoki ustunlar nomiga ham o'zgartirish kiritishmiz mumkin.

Quyidagi misolda indeks va ustun nomlarini katta harflar bilan yozamiz:

In [ ]:
df2.rename(index=str.upper, columns=str.upper)

In [ ]:
df2.rename(index={'Macau':'MAKAO'}, columns={'pop2021':'population'})

In [ ]:
 df2.rename(columns=str.capitalize)