<a href="https://colab.research.google.com/github/makhmudovamunira/DataScience_Mohirdev/blob/main/dropna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data_nan.csv", index_col=0)
df.head()

**Mavjud bo'lmagan qiymatlarga ishlov berishning yagona, universal formulasi yo'q.**

Bunday holatda sizning birinchi savolingiz "Nima uchun mu qiymat mavjud emas? Ma'lumot yozib olinmaganmi yoki umuman mavjud emasmi?" bo'lishi kerak. Misol uchun, siz so'rovnoma yordamida odamlar haqida ma'lumotlar jamlayapsiz, so'rovnomangizda "nikohdan o'tgan yilingiz" degan bo'lim bor. Tabiiyki, turmush qurmaghanlar uchun bu qiymat mabjud bo'lmaydi va bu xato emas. Aksincha, "tug'ilgan yilingiz" qiymati mavjud bo'lmasligi esa, ma'lumot mavjud lekin yozib olinmaganini anglatadi.

Data Science muhandisi sifatida siz mavjud bo'lmagan ma'lumotlarni topishga, buning imkoni bo'lmasa ularni approksimasiya qilishga (tahminiy qiymat topishga) harakat qilishingiz, buni ham iloji bo'lmasa bunday ustun (yoki qatorlardan) voz kechishni hal qilishingiz kerak bo'ladi.

Avvalo, keling, DF da mavjud bo'lmagan (`NaN`) qiymatlar sonini topaylik.

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
df.isnull().sum()

Ko'rib turganingizdek, `horsepower` ustunida 16 ta, `wheel-base` va `average-milega` ustunlarida 15 tadan va hokazo qiymatlar mavjud emas.

Keling bu ko'rsatkichlarni jami ma'lumotlarning foizi sifatida chiqaramiz.

In [ ]:
nulls=df.isnull().sum()
rows=df.shape[0]
(nulls/rows)*100

Yuoqirdan ba'zi ustunlardagi `NaN` qiymatlar soni 25% dan ham ko'p ekanini ko'rishimiz mumkin. Bu, albatta, yaxshi emas.

`pandas` da `NaN` qiymatlar bilan ishlash uchun bir nechta metodlar bor:
- `dropna` - `NaN` qiymatlar bor ustun yoki qatorlarni o'chirib tashlash
- `fillna` - `NaN` qiymmatlarni boshqa qiymatlar yordamida to'ldirib ketish (misol uchun avvalgi yoki keyingi qator qiymatlari)
- `isnull` - `NaN` qiymatlarni filtrlash (`NaN` qiymat `True` qaytaradi)
- `notnull` - `isnull` ning aksi

### `.dropna()` `NaN` qiymatlarni tashlab yuborish
Ushbu metod yordamida `NaN` qiymatlar bor ustun yoki qatorlarni butunlay tashlab yuborish mumkin.

Qatorlardan voz kechish uchun `.dropna()` funksiyasini parametrsiz chaqirish kifoya:

In [ ]:
df2=df.dropna()
df2

In [ ]:
df2.shape

In [ ]:
df.shape

In [ ]:
df.dropna(axis=1)

Yuqoridagi natijadan ko'rishimiz mumkinki, `NaN` bor barcha ustunlar tushib qoldi va DF deyarli yaroqsiz holatga keldi.

`thresh` parametri yordamida biz `NaN` bo'lmagan qiymatlarining soniga chegara belgilashimiz mumkin. Misol uchun, quyidagi kodimiz `NaN` bo'lmagan qiymatlar 48 dan kam bo'lgan ustunlarni tashlab yuboradi.

In [ ]:
df.dropna(axis=1, thresh=48)

In [ ]:
df.dropna(subset=['length', 'body-style'])

In [ ]:
df.dropna(subset=['price'], inplace=True)

In [ ]:
df.shape

In [ ]:
df.head()