<a href="https://colab.research.google.com/github/makhmudovamunira/DataScience_Mohirdev/blob/main/MalumotlarBilanIshlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3 as sql

In [ ]:
db=sql.connect('newdb.db')
cursor=db.cursor()

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/Electricity_Production_By_Source.csv")
df.head()

In [ ]:
cols=['country', 'code','year','coal','gas','hydro','renewabels','solar','oil','wind','nuclear']
df.columns=cols
df.head()

In [ ]:
df.to_sql('jadval',db)

In [ ]:
query="SELECT * FROM jadval"
df2=pd.read_sql(query, db)
df2

In [ ]:
df2.info()

In [ ]:
df2.describe()

**Jadval yaratish qadamlari:**
- `CREATE TABLE` - jadval yaratish buyrug'i
- `IF NOT EXISTS` - jadval mavjud bo'lmasa
- `worldpop` - jadval nomi
- Qavs ichida jadval ustunlari, ustundagi ma'lumot turi va qo'shimcha parametrlar vergul bilan ajratib yoziladi.

**Quyidagi misolada jadvalimiz 5 ta ustundan iborat:**
- `rank` - davlat reytingi (zichlik bo'yicha), `INT` ya'ni butun son.
- `country` - davlat nomi, `TEXT` - matn, `PRIMARY KEY` - birlamchi qiymat, qatorga shu ustun qiymati bilan murojaat qilinadi (takrorlanman bo'lishi kerak)
- `density` - zichlik, `DOUBLE` - o'nlik son
- `population` - aholi soni, `DOUBLE` - o'nlik son, `NOT NULL` - bo'sh bo'lmasligi (qiymat berilishi shart)
- `area` - maydoni, `INT` - butun son, `NOT NULL` - qiymat berilishi shart.

In [ ]:
query="""
CREATE TABLE IF NOT EXISTS worldpop(
  rank INT,
  country TEXT PRIMARY KEY,
  density DOUBLE,
  population DOUBLE NOT NULL,
  area INT NOT NULL
);
"""
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
cursor.fetchall()

In [ ]:
cursor.execute("PRAGMA table_info(worldpop)")
cursor.fetchall()

In [ ]:
query="SELECT * FROM worldpop"
df3=pd.read_sql(query, db)
df3.head()

In [ ]:
query="INSERT INTO worldpop VALUES (1, 'macau', 2346.4667,658.3940, 30)"
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall()

In [ ]:
pd.read_sql(query, db)

In [ ]:
query="""
INSERT INTO worldpop (country, population, area)
VALUES ("Uzbekistan", 33295.7360, 44700)
"""
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall()

In [ ]:
query="UPDATE worldpop SET rank=133, density=1223 WHERE country='Uzbekistan'"
cursor.execute(query)
db.commit()

In [ ]:
query="SELECT * FROM worldpop"
cursor.execute(query)
cursor.fetchall()

In [ ]:
pd.read_sql(query, db)

In [ ]:
query="DELETE FROM worldpop WHERE country='macau'"
cursor.execute(query)
db.commit()

In [ ]:
query="SELECT * FROM worldpop"
cursor.execute(query)
cursor.fetchall()

## Jadvalni butunlay o'chirib tashlash

In [ ]:
cursor.execute("DROP TABLE worldpop")
db.commit()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
cursor.fetchall()

# SQL buyruqlarni f-string yordamida yozish
Biz yuqorida SQL buyruqlarni oddiy matn ko'rinishida yozayapamiz, demak Pythondagi f-string yordamida matnlarga o'zgaruvchilarning qiymatini ham qo'shish mumkin.

Keling boshlanishiga quyidagi DF ni yaratib olamiz, so'ngra DF qatorlarini yangi SQL jadvalga f-string yordamida yozamiz.

In [ ]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/world_population.csv", index_col='rank')
df.head()

In [ ]:
query="""
CREATE TABLE IF NOT EXISTS worldpop(
  rank INT,
  country TEXT PRIMARY KEY,
  density DOUBLE,
  population DOUBLE NOT NULL,
  area INT NOT NULL
);
"""
cursor.execute(query)
db.commit()

In [ ]:
uz=df[df.country=='Uzbekistan']
uz

In [ ]:
rank=uz.index.values[0]
country=uz.at[rank, 'country']
density=uz.at[rank, 'density']
population=uz.at[rank, 'pop2021']
area=uz.at[rank, 'area']
print(f"{rank}, {country}, {density}, {population}, {area}")

In [ ]:
query=f"""
INSERT INTO worldpop VALUES ({rank}, '{country}', {density}, {population}, {area})
"""
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall()

###bazani yopamiz

In [ ]:
db.close()

In [ ]:
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall()