<a href="https://colab.research.google.com/github/makhmudovamunira/DataScience_Mohirdev/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pandas import Series

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
obj=Series([1,2,3,4.5])

In [5]:
type(obj)

pandas.core.series.Series

In [6]:
obj

0    1.0
1    2.0
2    3.0
3    4.5
dtype: float64

In [14]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
obj1=Series([1,2,3,4.5,7.5], index=['a','b','c','d','e'])

In [9]:
obj1

a    1.0
b    2.0
c    3.0
d    4.5
e    7.5
dtype: float64

In [10]:
obj1[['a','c','d']]

a    1.0
c    3.0
d    4.5
dtype: float64

In [12]:
obj1.values

array([1. , 2. , 3. , 4.5, 7.5])

In [13]:
obj1.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [15]:
obj1*2

a     2.0
b     4.0
c     6.0
d     9.0
e    15.0
dtype: float64

In [16]:
obj1[obj1<5]

a    1.0
b    2.0
c    3.0
d    4.5
dtype: float64

In [17]:
np.exp(obj1)

a       2.718282
b       7.389056
c      20.085537
d      90.017131
e    1808.042414
dtype: float64

In [18]:
np.square(obj1)

a     1.00
b     4.00
c     9.00
d    20.25
e    56.25
dtype: float64

###Lug'atlar bilan ishlash###

In [19]:
cars_dict={'Malibu':40000,'Lacetti':20000,'Monza':21000,'Hyundai':30000,'Toyota':45000}
cars_dict

{'Malibu': 40000,
 'Lacetti': 20000,
 'Monza': 21000,
 'Hyundai': 30000,
 'Toyota': 45000}

In [20]:
cars=Series(cars_dict)
cars

Malibu     40000
Lacetti    20000
Monza      21000
Hyundai    30000
Toyota     45000
dtype: int64

In [23]:
type(cars)

pandas.core.series.Series

In [24]:
'Malibu' in cars

True

In [25]:
'BMW' in cars

False

In [29]:
models=['Lacetti','Hyundai','Toyota','Monza','Malibu','Mersedes-Benz']

In [30]:
cars1=Series(cars_dict,index=models)

In [31]:
cars1

Lacetti          20000.0
Hyundai          30000.0
Toyota           45000.0
Monza            21000.0
Malibu           40000.0
Mersedes-Benz        NaN
dtype: float64