<a href="https://colab.research.google.com/github/makhmudovamunira/DataScience_Mohirdev/blob/main/SQL_Buyruqlar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3 as sql

In [ ]:
from urllib.request import urlretrieve
url = "https://github.com/anvarnarz/praktikum_datasets/raw/main/electricity.db"
urlretrieve(url,'electricity.db') # faylni yuklab olish

In [ ]:
db=sql.connect("electricity.db")
cursor=db.cursor()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cursor.fetchall())

In [ ]:
cursor.execute("PRAGMA table_info(elect)")
cursor.fetchall()

In [ ]:
pd.read_sql("SELECT * FROM elect LIMIT 10", db, index_col="index")

In [ ]:
query="SELECT DISTINCT country FROM elect"
countries=pd.read_sql(query, db)
countries.head()

In [ ]:
'Uzbekistan' in countries['country'].values

In [ ]:
query="SELECT * FROM elect WHERE country='Uzbekistan'"
dfuz=pd.read_sql(query, db)
dfuz.head()

In [ ]:
query="SELECT * FROM elect WHERE country='Uzbekistan' AND year>2010"
dfuz=pd.read_sql(query, db)
dfuz.head()

### `BETWEEN` yordamida filtrlash
**Between** so'zi ingliz tildan __oraliqda__ deb tarjima qilinadi. Bu operator yordamida ma'lum oraliqdagi qiymatlarni ajratib olishimiz mumkin.

Misol uchu, kelin O'zbekiston uchun 2010 va 2021 oraliqdagi ma'lumotlarni chaqirib olamiz.

In [ ]:
query="SELECT * FROM elect WHERE country='Uzbekistan' AND year BETWEEN 2010 AND 2021"
pd.read_sql(query, db)

### `IN`
`IN` yordamida filterlashda aniq qiymatlarni ko'rsatishimiz mumkin. Quyidagi misolda aynan 1990,1995,2000,2005,2010-yillardagi qiymatlarni ajratib olamiz.

In [ ]:
query="SELECT * FROM elect WHERE country='Uzbekistan' AND year IN (1990, 1995, 2000, 2005, 2010)"
pd.read_sql(query, db)

### `LIKE`
`LIKE` yordamida ustun orasidan berilgan matnga o'xshash qiymatlarni topish mumkin. Qidiruv matnida `%` yoki `_` belgilari ishlatilishi mumkin.
- `%` - bir nechta belgini anglatadi, masalan `'%stan'` matni `stan` so'zi bilan tugaydigan barcha qiymatlarni topadi.
- `_` - bitta belgini anglatadi, misol uchun `_tol` matni 4 harfdan iborat `tol` bilan tugaydian so'zlarni topadi (`stol`)

In [ ]:
query="SELECT * FROM elect WHERE country LIKE '%stan' AND year IN (2019, 2020, 2021)"
pd.read_sql(query, db)

Quyida `A` bilan boshlanadigan barcha davlatlar uchun 2020-yil ma'lumotlarni olamiz. Ahamiyat bering bu safar davlat nomi emas kodi (`code`) dan foydalanamiz va qidiruv matnida `A` dan keyin ikki pastki chiziq (ikkita harf) yozayapmiz `A__`

In [ ]:
query="SELECT * FROM elect WHERE code LIKE 'A__' AND year=2020"
pd.read_sql(query, db)

In [ ]:
db.close()